Prodigy/PartialArmTemplates/ArmTemplate_5_2_2020_17_54_29.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "Prodigy"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/Load Prodigy Master')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Calc_CostSavings",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Load Prodigy Original Incremental",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "Load Prodigy Projects Incremental",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[sp_calc_cost_savings]"
						},
						"linkedServiceName": {
							"referenceName": "Prodigy_DW",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Log Load Reults",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[sp_log_loadresults_logs]"
						},
						"linkedServiceName": {
							"referenceName": "Prodigy_DW",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Update Load Results",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Calc_CostSavings",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[sp_update_loadresults_logs]"
						},
						"linkedServiceName": {
							"referenceName": "Prodigy_DW",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Load Prodigy Original Incremental",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Log Load Reults",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Load Prodigy Original Incremental",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true
						}
					},
					{
						"name": "Load Prodigy Projects Incremental",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Log Load Reults",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Load Prodigy Projects Incremental",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true
						}
					}
				],
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/15 Minutes')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Load Prodigy DW ",
				"annotations": [],
				"runtimeState": "Stopped",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "Load Prodigy Master",
							"type": "PipelineReference"
						}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Minute",
						"interval": 15,
						"startTime": "2020-04-07T02:30:00.000Z",
						"timeZone": "UTC"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/Load Prodigy Master')]"
			]
		}
	]
}