Fox/PartialArmTemplates/ArmTemplate_10_23_2019_9_43_39.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "Fox"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/Fox Pipeline')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Truncate Staging and Update Tables",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Log Job Start",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[sp_deletestaging]"
						},
						"linkedServiceName": {
							"referenceName": "pagdb1_fox",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Load Staging",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Truncate Staging and Update Tables",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [
							{
								"name": "Source",
								"value": "https://dms.cetacloud.tv/dmsapi/index.php/query/index/?start=2018/12/23&end=2019/6/23&source=FOX1&token=ABC&key=12345"
							},
							{
								"name": "Destination",
								"value": "[[dbo].[Staging_t]"
							}
						],
						"typeProperties": {
							"source": {
								"type": "RestSource",
								"httpRequestTimeout": "00:01:40",
								"requestInterval": "00.00:00:00.010"
							},
							"sink": {
								"type": "AzureSqlSink"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"path": "jobID"
										},
										"sink": {
											"name": "JobID",
											"type": "Int32"
										}
									},
									{
										"source": {
											"path": "jobstatus"
										},
										"sink": {
											"name": "JobStatus",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "productionname"
										},
										"sink": {
											"name": "FeatureTitle",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "productionID"
										},
										"sink": {
											"name": "ProductionID",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "projectnumber"
										},
										"sink": {
											"name": "ProjectID",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "title"
										},
										"sink": {
											"name": "Territory",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "subtitle"
										},
										"sink": {
											"name": "SpotName",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "clientname"
										},
										"sink": {
											"name": "ClientName",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "enddate"
										},
										"sink": {
											"name": "EndDate",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "description"
										},
										"sink": {
											"name": "Description",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "unitsbilled"
										},
										"sink": {
											"name": "UnitsBilled",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "billingtotal"
										},
										"sink": {
											"name": "BillingTotal",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "currency"
										},
										"sink": {
											"name": "Currency",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "version"
										},
										"sink": {
											"name": "Version",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "asset"
										},
										"sink": {
											"name": "Asset",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "platform"
										},
										"sink": {
											"name": "Destination",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "length"
										},
										"sink": {
											"name": "Length",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "language"
										},
										"sink": {
											"name": "Language",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "country"
										},
										"sink": {
											"name": "Country",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "aspect"
										},
										"sink": {
											"name": "Format",
											"type": "String"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "CETA_FOX",
								"type": "DatasetReference",
								"parameters": {
									"start": "2018/12/23",
									"end": "2019/6/23",
									"source": "FOX1",
									"token": "ABC",
									"key": "12345"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "Fox_Staging",
								"type": "DatasetReference"
							}
						]
					},
					{
						"name": "Clean Up - Fox Titles Only",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Load Staging",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[sp_cleanup_fox_titles_only]"
						},
						"linkedServiceName": {
							"referenceName": "pagdb1_fox",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Clean Up Territory and Destination",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Clean Up - Fox Titles Only",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[sp_cleanup_territory_and_destination]"
						},
						"linkedServiceName": {
							"referenceName": "pagdb1_fox",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Parse Territory and ClientName for Country",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Clean Up Territory and Destination",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[sp_parse_territory_and_clientName_for_country]"
						},
						"linkedServiceName": {
							"referenceName": "pagdb1_fox",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Parse SpotName For Format",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Parse Territory and ClientName for Country",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[sp_parse_spotName_for_format]"
						},
						"linkedServiceName": {
							"referenceName": "pagdb1_fox",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Parse SpotName For CampaignName",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Parse SpotName For Format",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[sp_parse_spotName_for_campaignName]"
						},
						"linkedServiceName": {
							"referenceName": "pagdb1_fox",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "PopulateDIMProduction",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "Parse SpotName For CampaignName",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "PopulateDIMProduction",
								"type": "DataFlowReference"
							}
						}
					},
					{
						"name": "PopulateDIMProject",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "PopulateDIMProduction",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "PopulateDIMProject",
								"type": "DataFlowReference"
							}
						}
					},
					{
						"name": "PopulateFact",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "PopulateDIMProject",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "PopulateFact",
								"type": "DataFlowReference"
							}
						}
					},
					{
						"name": "Update Job Status",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "PopulateFact",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[sp_update_loadresults_logs]"
						},
						"linkedServiceName": {
							"referenceName": "pagdb1_fox",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Log Job Start",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[sp_log_loadresults_logs]"
						},
						"linkedServiceName": {
							"referenceName": "pagdb1_fox",
							"type": "LinkedServiceReference"
						}
					}
				],
				"parameters": {
					"LoadStartDate": {
						"type": "string",
						"defaultValue": "2019/1/23"
					},
					"LoadEndDate": {
						"type": "string",
						"defaultValue": "2019/12/23"
					},
					"DF_URL": {
						"type": "string",
						"defaultValue": "https://dms.cetacloud.tv/dmsapi/index.php/query/index/?start=2018/12/23&end=2019/6/23&source=FOX1&token=ABC&key=12345"
					}
				},
				"variables": {
					"LoadStartDate": {
						"type": "String"
					}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/CETA_FOX')]",
				"[concat(variables('factoryId'), '/datasets/Fox_Staging')]",
				"[concat(variables('factoryId'), '/dataflows/PopulateDIMProduction')]",
				"[concat(variables('factoryId'), '/dataflows/PopulateDIMProject')]",
				"[concat(variables('factoryId'), '/dataflows/PopulateFact')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/LoadStaging')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Load Staging",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [
							{
								"name": "Source",
								"value": "https://dms.cetacloud.tv/dmsapi/index.php/query/index/?start=2018/12/23&end=2019/6/23&source=FOX1&token=ABC&key=12345"
							},
							{
								"name": "Destination",
								"value": "[[dbo].[Staging_t]"
							}
						],
						"typeProperties": {
							"source": {
								"type": "RestSource",
								"httpRequestTimeout": "00:01:40",
								"requestInterval": "00.00:00:00.010"
							},
							"sink": {
								"type": "AzureSqlSink"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"path": "jobID"
										},
										"sink": {
											"name": "JobID",
											"type": "Int32"
										}
									},
									{
										"source": {
											"path": "jobstatus"
										},
										"sink": {
											"name": "JobStatus",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "productionname"
										},
										"sink": {
											"name": "FeatureTitle",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "productionID"
										},
										"sink": {
											"name": "ProductionID",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "projectnumber"
										},
										"sink": {
											"name": "ProjectID",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "title"
										},
										"sink": {
											"name": "Territory",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "subtitle"
										},
										"sink": {
											"name": "SpotName",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "clientname"
										},
										"sink": {
											"name": "ClientName",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "enddate"
										},
										"sink": {
											"name": "EndDate",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "description"
										},
										"sink": {
											"name": "Description",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "unitsbilled"
										},
										"sink": {
											"name": "UnitsBilled",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "billingtotal"
										},
										"sink": {
											"name": "BillingTotal",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "currency"
										},
										"sink": {
											"name": "Currency",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "version"
										},
										"sink": {
											"name": "Version",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "asset"
										},
										"sink": {
											"name": "Asset",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "platform"
										},
										"sink": {
											"name": "Destination",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "length"
										},
										"sink": {
											"name": "Length",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "language"
										},
										"sink": {
											"name": "Language",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "country"
										},
										"sink": {
											"name": "Country",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "aspect"
										},
										"sink": {
											"name": "Format",
											"type": "String"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "CETA_FOX",
								"type": "DatasetReference",
								"parameters": {
									"start": "2018/12/23",
									"end": "2019/6/23",
									"source": "FOX1",
									"token": "ABC",
									"key": "12345"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "Fox_Staging",
								"type": "DatasetReference"
							}
						]
					}
				],
				"parameters": {
					"LoadStartDate": {
						"type": "string",
						"defaultValue": "2019/1/23"
					},
					"LoadEndDate": {
						"type": "string",
						"defaultValue": "2019/12/23"
					},
					"DF_URL": {
						"type": "string",
						"defaultValue": "https://dms.cetacloud.tv/dmsapi/index.php/query/index/?start=2018/12/23&end=2019/6/23&source=FOX1&token=ABC&key=12345"
					}
				},
				"variables": {
					"LoadStartDate": {
						"type": "String"
					}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/CETA_FOX')]",
				"[concat(variables('factoryId'), '/datasets/Fox_Staging')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ProcessStaging')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Clean Up - Fox Titles Only",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Log Job Start",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[sp_cleanup_fox_titles_only]"
						},
						"linkedServiceName": {
							"referenceName": "pagdb1_fox",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Clean Up Territory and Destination",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Clean Up - Fox Titles Only",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[sp_cleanup_territory_and_destination]"
						},
						"linkedServiceName": {
							"referenceName": "pagdb1_fox",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Parse Territory and ClientName for Country",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Clean Up Territory and Destination",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[sp_parse_territory_and_clientName_for_country]"
						},
						"linkedServiceName": {
							"referenceName": "pagdb1_fox",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Parse SpotName For Format",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Parse Territory and ClientName for Country",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[sp_parse_spotName_for_format]"
						},
						"linkedServiceName": {
							"referenceName": "pagdb1_fox",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Parse SpotName For CampaignName",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Parse SpotName For Format",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[sp_parse_spotName_for_campaignName]"
						},
						"linkedServiceName": {
							"referenceName": "pagdb1_fox",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "PopulateDIMProduction",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "Parse SpotName For CampaignName",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "PopulateDIMProduction",
								"type": "DataFlowReference"
							}
						}
					},
					{
						"name": "PopulateDIMProject",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "PopulateDIMProduction",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "PopulateDIMProject",
								"type": "DataFlowReference"
							}
						}
					},
					{
						"name": "PopulateFact",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "PopulateDIMProject",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "PopulateFact",
								"type": "DataFlowReference"
							}
						}
					},
					{
						"name": "Update Job Status",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "PopulateFact",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[sp_update_loadresults_logs]"
						},
						"linkedServiceName": {
							"referenceName": "pagdb1_fox",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Log Job Start",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[sp_log_loadresults_logs]"
						},
						"linkedServiceName": {
							"referenceName": "pagdb1_fox",
							"type": "LinkedServiceReference"
						}
					}
				],
				"parameters": {
					"LoadStartDate": {
						"type": "string",
						"defaultValue": "2019/1/23"
					},
					"LoadEndDate": {
						"type": "string",
						"defaultValue": "2019/12/23"
					},
					"DF_URL": {
						"type": "string",
						"defaultValue": "https://dms.cetacloud.tv/dmsapi/index.php/query/index/?start=2018/12/23&end=2019/6/23&source=FOX1&token=ABC&key=12345"
					}
				},
				"variables": {
					"LoadStartDate": {
						"type": "String"
					}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/dataflows/PopulateDIMProduction')]",
				"[concat(variables('factoryId'), '/dataflows/PopulateDIMProject')]",
				"[concat(variables('factoryId'), '/dataflows/PopulateFact')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Test Dynamic URL')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Truncate Staging and Update Tables",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[sp_deletestaging]"
						},
						"linkedServiceName": {
							"referenceName": "pagdb1_fox",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Load Staging",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Truncate Staging and Update Tables",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [
							{
								"name": "Source",
								"value": "https://dms.cetacloud.tv/dmsapi/index.php/query/index/?start=2018/12/23&end=2019/6/23&source=FOX1&token=ABC&key=12345"
							},
							{
								"name": "Destination",
								"value": "[[dbo].[Staging_t]"
							}
						],
						"typeProperties": {
							"source": {
								"type": "RestSource",
								"httpRequestTimeout": "00:01:40",
								"requestInterval": "00.00:00:00.010"
							},
							"sink": {
								"type": "AzureSqlSink"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"path": "jobID"
										},
										"sink": {
											"name": "JobID",
											"type": "Int32"
										}
									},
									{
										"source": {
											"path": "jobstatus"
										},
										"sink": {
											"name": "JobStatus",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "productionname"
										},
										"sink": {
											"name": "FeatureTitle",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "productionID"
										},
										"sink": {
											"name": "ProductionID",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "projectnumber"
										},
										"sink": {
											"name": "ProjectID",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "title"
										},
										"sink": {
											"name": "Territory",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "subtitle"
										},
										"sink": {
											"name": "SpotName",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "clientname"
										},
										"sink": {
											"name": "ClientName",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "enddate"
										},
										"sink": {
											"name": "EndDate",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "description"
										},
										"sink": {
											"name": "Description",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "unitsbilled"
										},
										"sink": {
											"name": "UnitsBilled",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "billingtotal"
										},
										"sink": {
											"name": "BillingTotal",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "currency"
										},
										"sink": {
											"name": "Currency",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "version"
										},
										"sink": {
											"name": "Version",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "asset"
										},
										"sink": {
											"name": "Asset",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "platform"
										},
										"sink": {
											"name": "Destination",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "length"
										},
										"sink": {
											"name": "Length",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "language"
										},
										"sink": {
											"name": "Language",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "country"
										},
										"sink": {
											"name": "Country",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "aspect"
										},
										"sink": {
											"name": "Format",
											"type": "String"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "CETA_FOX_DYNAMIC",
								"type": "DatasetReference",
								"parameters": {
									"start": "2018/12/23",
									"end": "2019/6/23",
									"source": "FOX1",
									"token": "ABC",
									"key": "12345"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "Fox_Staging",
								"type": "DatasetReference"
							}
						]
					}
				],
				"parameters": {
					"LoadStartDate": {
						"type": "string",
						"defaultValue": "2019/1/23"
					},
					"LoadEndDate": {
						"type": "string",
						"defaultValue": "2019/12/23"
					},
					"DF_URL": {
						"type": "string",
						"defaultValue": "https://dms.cetacloud.tv/dmsapi/index.php/query/index/?start=2018/12/23&end=2019/6/23&source=FOX1&token=ABC&key=12345"
					}
				},
				"variables": {
					"LoadStartDate": {
						"type": "String"
					}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/CETA_FOX_DYNAMIC')]",
				"[concat(variables('factoryId'), '/datasets/Fox_Staging')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/CETA_FOX')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "CETA",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"start": {
						"type": "string",
						"defaultValue": "2018/12/23"
					},
					"end": {
						"type": "string",
						"defaultValue": "2019/6/23"
					},
					"source": {
						"type": "string",
						"defaultValue": "FOX1"
					},
					"token": {
						"type": "string",
						"defaultValue": "ABC"
					},
					"key": {
						"type": "string",
						"defaultValue": "12345"
					}
				},
				"annotations": [],
				"type": "RestResource",
				"typeProperties": {
					"relativeUrl": "https://dms.cetacloud.tv/dmsapi/index.php/query/index/?start=2019/1/1&end=2019/12/31&source=FOX1&token=ABC&key=12345",
					"requestMethod": "GET"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/CETA_FOX_DYNAMIC')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "CETA",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"start": {
						"type": "string",
						"defaultValue": "2018/12/23"
					},
					"end": {
						"type": "string",
						"defaultValue": "2019/6/23"
					},
					"source": {
						"type": "string",
						"defaultValue": "FOX1"
					},
					"token": {
						"type": "string",
						"defaultValue": "ABC"
					},
					"key": {
						"type": "string",
						"defaultValue": "12345"
					},
					"URL": {
						"type": "String",
						"defaultValue": "concatWS('https://dms.cetacloud.tv/dmsapi/index.php/query/index/?start=2019/5/23&end=2019/6/23&source=FOX1&token=ABC&key=','12345)"
					}
				},
				"annotations": [],
				"type": "RestResource",
				"typeProperties": {
					"relativeUrl": {
						"value": "@string('https://dms.cetacloud.tv/dmsapi/index.php/query/index/?start=2019/5/23&end=2019/6/23&source=FOX1&token=ABC&key=12345')",
						"type": "Expression"
					},
					"requestMethod": "GET"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/FOX_DIM_Project')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "pagdb1_fox",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "ProjectID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ClientName",
						"type": "nvarchar"
					},
					{
						"name": "Currency",
						"type": "nvarchar"
					},
					{
						"name": "InputDate",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					}
				],
				"typeProperties": {
					"tableName": "[[dbo].[DIM_Project]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Fox_DIM_Production')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "pagdb1_fox",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "ProductionID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "FeatureTitle",
						"type": "nvarchar"
					},
					{
						"name": "InputDate",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					}
				],
				"typeProperties": {
					"tableName": "[[dbo].[DIM_Production]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Fox_Fact_t')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "pagdb1_fox",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "JobID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ProductionID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ProjectID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "JobStatus",
						"type": "nvarchar"
					},
					{
						"name": "Territory",
						"type": "nvarchar"
					},
					{
						"name": "SpotName",
						"type": "nvarchar"
					},
					{
						"name": "Campaign",
						"type": "nvarchar"
					},
					{
						"name": "EndDate",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "Description",
						"type": "nvarchar"
					},
					{
						"name": "UnitsBilled",
						"type": "decimal",
						"precision": 18,
						"scale": 0
					},
					{
						"name": "BillingTotal",
						"type": "decimal",
						"precision": 18,
						"scale": 0
					},
					{
						"name": "Version",
						"type": "smallint",
						"precision": 5
					},
					{
						"name": "Asset",
						"type": "nvarchar"
					},
					{
						"name": "Format",
						"type": "nvarchar"
					},
					{
						"name": "Destination",
						"type": "nvarchar"
					},
					{
						"name": "Length",
						"type": "nvarchar"
					},
					{
						"name": "Language",
						"type": "nvarchar"
					},
					{
						"name": "Country",
						"type": "nvarchar"
					},
					{
						"name": "InputDate",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					}
				],
				"typeProperties": {
					"tableName": "[[dbo].[Fact_t]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Fox_Fact_t_update')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "pagdb1_fox",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "JobID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "JobStatus",
						"type": "nvarchar"
					},
					{
						"name": "InputDate",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					}
				],
				"typeProperties": {
					"tableName": "[[dbo].[Fact_t_Update]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Fox_Staging')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "pagdb1_fox",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "JobID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ProductionID",
						"type": "text"
					},
					{
						"name": "FeatureTitle",
						"type": "text"
					},
					{
						"name": "ProjectID",
						"type": "text"
					},
					{
						"name": "JobStatus",
						"type": "text"
					},
					{
						"name": "Territory",
						"type": "text"
					},
					{
						"name": "SpotName",
						"type": "text"
					},
					{
						"name": "CampaignName",
						"type": "text"
					},
					{
						"name": "ClientName",
						"type": "text"
					},
					{
						"name": "EndDate",
						"type": "text"
					},
					{
						"name": "Description",
						"type": "text"
					},
					{
						"name": "UnitsBilled",
						"type": "text"
					},
					{
						"name": "BillingTotal",
						"type": "text"
					},
					{
						"name": "Currency",
						"type": "text"
					},
					{
						"name": "Version",
						"type": "text"
					},
					{
						"name": "Asset",
						"type": "text"
					},
					{
						"name": "Format",
						"type": "text"
					},
					{
						"name": "Destination",
						"type": "text"
					},
					{
						"name": "Length",
						"type": "text"
					},
					{
						"name": "Language",
						"type": "text"
					},
					{
						"name": "Country",
						"type": "text"
					},
					{
						"name": "InputDate",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					}
				],
				"typeProperties": {
					"tableName": "[[dbo].[Staging_t]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/PopulateDIMProduction')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "Fox_Staging",
								"type": "DatasetReference"
							},
							"name": "StagingSource"
						},
						{
							"dataset": {
								"referenceName": "Fox_DIM_Production",
								"type": "DatasetReference"
							},
							"name": "DimProduction"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "Fox_DIM_Production",
								"type": "DatasetReference"
							},
							"name": "PopulateDIMProduction"
						}
					],
					"transformations": [
						{
							"name": "Aggregate"
						},
						{
							"name": "Sort"
						},
						{
							"name": "Exist"
						},
						{
							"name": "toINTProductionID"
						}
					],
					"script": "\n\nsource(output(\n\t\tJobID as integer,\n\t\tProductionID as string,\n\t\tFeatureTitle as string,\n\t\tProjectID as string,\n\t\tJobStatus as string,\n\t\tTerritory as string,\n\t\tSpotName as string,\n\t\tCampaignName as string,\n\t\tClientName as string,\n\t\tEndDate as string,\n\t\tDescription as string,\n\t\tUnitsBilled as string,\n\t\tBillingTotal as string,\n\t\tCurrency as string,\n\t\tVersion as string,\n\t\tAsset as string,\n\t\tFormat as string,\n\t\tDestination as string,\n\t\tLength as string,\n\t\tLanguage as string,\n\t\tCountry as string,\n\t\tInputDate as timestamp\n\t),\n\tallowSchemaDrift: false,\n\tvalidateSchema: false,\n\tisolationLevel: 'READ_UNCOMMITTED',\n\tformat: 'table') ~> StagingSource\nsource(output(\n\t\tProductionID as integer,\n\t\tFeatureTitle as string,\n\t\tInputDate as timestamp\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tisolationLevel: 'READ_UNCOMMITTED',\n\tformat: 'table') ~> DimProduction\nStagingSource aggregate(groupBy(ProductionID),\n\tFeatureTitle = min(FeatureTitle)) ~> Aggregate\nAggregate sort(asc(ProductionID, true)) ~> Sort\nSort, DimProduction exists(toInteger(Aggregate@ProductionID) == DimProduction@ProductionID,\n\tnegate:true,\n\tbroadcast: 'none')~> Exist\nExist derive(ProductionID = toInteger(ProductionID)) ~> toINTProductionID\ntoINTProductionID sink(input(\n\t\tProductionID as integer,\n\t\tFeatureTitle as string,\n\t\tInputDate as timestamp\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tdeletable:false,\n\tinsertable:true,\n\tupdateable:false,\n\tupsertable:false,\n\tformat: 'table') ~> PopulateDIMProduction"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/Fox_Staging')]",
				"[concat(variables('factoryId'), '/datasets/Fox_DIM_Production')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/PopulateDIMProject')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "Fox_Staging",
								"type": "DatasetReference"
							},
							"name": "StagingSource"
						},
						{
							"dataset": {
								"referenceName": "FOX_DIM_Project",
								"type": "DatasetReference"
							},
							"name": "DimProject"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "FOX_DIM_Project",
								"type": "DatasetReference"
							},
							"name": "PopulateDIMProject"
						}
					],
					"transformations": [
						{
							"name": "Aggregate"
						},
						{
							"name": "Sort"
						},
						{
							"name": "Exist"
						},
						{
							"name": "toIntProjectID"
						}
					],
					"script": "\n\nsource(output(\n\t\tJobID as integer,\n\t\tProductionID as string,\n\t\tFeatureTitle as string,\n\t\tProjectID as string,\n\t\tJobStatus as string,\n\t\tTerritory as string,\n\t\tSpotName as string,\n\t\tCampaignName as string,\n\t\tClientName as string,\n\t\tEndDate as string,\n\t\tDescription as string,\n\t\tUnitsBilled as string,\n\t\tBillingTotal as string,\n\t\tCurrency as string,\n\t\tVersion as string,\n\t\tAsset as string,\n\t\tFormat as string,\n\t\tDestination as string,\n\t\tLength as string,\n\t\tLanguage as string,\n\t\tCountry as string,\n\t\tInputDate as timestamp\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tisolationLevel: 'READ_UNCOMMITTED',\n\tformat: 'table') ~> StagingSource\nsource(output(\n\t\tProjectID as integer,\n\t\tClientName as string,\n\t\tCurrency as string,\n\t\tInputDate as timestamp\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tisolationLevel: 'READ_UNCOMMITTED',\n\tformat: 'table') ~> DimProject\nStagingSource aggregate(groupBy(ProjectID,\n\t\tCurrency),\n\tClientName = min(ClientName)) ~> Aggregate\ntoIntProjectID sort(desc(ProjectID, true)) ~> Sort\nSort, DimProject exists(toIntProjectID@ProjectID == DimProject@ProjectID,\n\tnegate:true,\n\tbroadcast: 'none')~> Exist\nAggregate derive(ProjectID = toInteger(ProjectID)) ~> toIntProjectID\nExist sink(input(\n\t\tProjectID as integer,\n\t\tClientName as string,\n\t\tCurrency as string,\n\t\tInputDate as timestamp\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tdeletable:false,\n\tinsertable:true,\n\tupdateable:false,\n\tupsertable:false,\n\tformat: 'table') ~> PopulateDIMProject"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/Fox_Staging')]",
				"[concat(variables('factoryId'), '/datasets/FOX_DIM_Project')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/PopulateFact')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "Fox_Staging",
								"type": "DatasetReference"
							},
							"name": "StagingSource"
						},
						{
							"dataset": {
								"referenceName": "Fox_Fact_t",
								"type": "DatasetReference"
							},
							"name": "Fact"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "Fox_Fact_t",
								"type": "DatasetReference"
							},
							"name": "PopulateFact"
						},
						{
							"dataset": {
								"referenceName": "Fox_Fact_t_update",
								"type": "DatasetReference"
							},
							"name": "PopulateFactUpdate"
						}
					],
					"transformations": [
						{
							"name": "ConditionalSplit1"
						},
						{
							"name": "Join"
						},
						{
							"name": "SelectJobID"
						},
						{
							"name": "TransformDateType"
						},
						{
							"name": "RemoveInputDate"
						}
					],
					"script": "\n\nsource(output(\n\t\tJobID as integer,\n\t\tProductionID as string,\n\t\tFeatureTitle as string,\n\t\tProjectID as string,\n\t\tJobStatus as string,\n\t\tTerritory as string,\n\t\tSpotName as string,\n\t\tCampaignName as string,\n\t\tClientName as string,\n\t\tEndDate as string,\n\t\tDescription as string,\n\t\tUnitsBilled as string,\n\t\tBillingTotal as string,\n\t\tCurrency as string,\n\t\tVersion as string,\n\t\tAsset as string,\n\t\tFormat as string,\n\t\tDestination as string,\n\t\tLength as string,\n\t\tLanguage as string,\n\t\tCountry as string,\n\t\tInputDate as timestamp\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tisolationLevel: 'READ_UNCOMMITTED',\n\tformat: 'table') ~> StagingSource\nsource(output(\n\t\tJobID as integer,\n\t\tProductionID as integer,\n\t\tProjectID as integer,\n\t\tJobStatus as string,\n\t\tTerritory as string,\n\t\tSpotName as string,\n\t\tCampaign as string,\n\t\tEndDate as timestamp,\n\t\tDescription as string,\n\t\tUnitsBilled as decimal(18,0),\n\t\tBillingTotal as decimal(18,0),\n\t\tVersion as integer,\n\t\tAsset as string,\n\t\tFormat as string,\n\t\tDestination as string,\n\t\tLength as string,\n\t\tLanguage as string,\n\t\tCountry as string,\n\t\tInputDate as timestamp\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tisolationLevel: 'READ_UNCOMMITTED',\n\tformat: 'table') ~> Fact\nJoin split(isNull(FactJobID),\n\tdisjoint: false) ~> ConditionalSplit1@(NoMatchOutput, MatchOutput)\nStagingSource, SelectJobID join(JobID == FactJobID,\n\tjoinType:'left',\n\tbroadcast: 'none')~> Join\nFact select(mapColumn(\n\t\tFactJobID = JobID\n\t),\n\tskipDuplicateMapInputs: false,\n\tskipDuplicateMapOutputs: false) ~> SelectJobID\nConditionalSplit1@NoMatchOutput derive(ProductionID = toInteger(ProductionID),\n\t\tProjectID = toInteger(ProjectID),\n\t\tUnitsBilled = toDecimal(UnitsBilled),\n\t\tBillingTotal = toDecimal(BillingTotal),\n\t\tVersion = toInteger(Version),\n\t\tEndDate = toTimestamp(EndDate)) ~> TransformDateType\nTransformDateType select(mapColumn(\n\t\tJobID,\n\t\tProductionID,\n\t\tFeatureTitle,\n\t\tProjectID,\n\t\tJobStatus,\n\t\tTerritory,\n\t\tSpotName,\n\t\tCampaign = CampaignName,\n\t\tClientName,\n\t\tEndDate,\n\t\tDescription,\n\t\tUnitsBilled,\n\t\tBillingTotal,\n\t\tCurrency,\n\t\tVersion,\n\t\tAsset,\n\t\tFormat,\n\t\tDestination,\n\t\tLength,\n\t\tLanguage,\n\t\tCountry,\n\t\tFactJobID\n\t),\n\tskipDuplicateMapInputs: false,\n\tskipDuplicateMapOutputs: false) ~> RemoveInputDate\nRemoveInputDate sink(input(\n\t\tJobID as integer,\n\t\tProductionID as integer,\n\t\tProjectID as integer,\n\t\tJobStatus as string,\n\t\tTerritory as string,\n\t\tSpotName as string,\n\t\tCampaign as string,\n\t\tEndDate as timestamp,\n\t\tDescription as string,\n\t\tUnitsBilled as decimal(18,0),\n\t\tBillingTotal as decimal(18,0),\n\t\tVersion as integer,\n\t\tAsset as string,\n\t\tFormat as string,\n\t\tDestination as string,\n\t\tLength as string,\n\t\tLanguage as string,\n\t\tCountry as string,\n\t\tInputDate as timestamp\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tdeletable:false,\n\tinsertable:true,\n\tupdateable:false,\n\tupsertable:false,\n\tformat: 'table',\n\tmapColumn(\n\t\tJobID,\n\t\tProductionID,\n\t\tProjectID,\n\t\tJobStatus,\n\t\tTerritory,\n\t\tSpotName,\n\t\tCampaign,\n\t\tEndDate,\n\t\tDescription,\n\t\tUnitsBilled,\n\t\tBillingTotal,\n\t\tVersion,\n\t\tAsset,\n\t\tFormat,\n\t\tDestination,\n\t\tLength,\n\t\tLanguage,\n\t\tCountry\n\t)) ~> PopulateFact\nConditionalSplit1@MatchOutput sink(input(\n\t\tJobID as integer,\n\t\tJobStatus as string,\n\t\tInputDate as timestamp\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tdeletable:false,\n\tinsertable:true,\n\tupdateable:false,\n\tupsertable:false,\n\tformat: 'table',\n\tmapColumn(\n\t\tJobID,\n\t\tJobStatus\n\t)) ~> PopulateFactUpdate"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/Fox_Staging')]",
				"[concat(variables('factoryId'), '/datasets/Fox_Fact_t')]",
				"[concat(variables('factoryId'), '/datasets/Fox_Fact_t_update')]"
			]
		}
	]
}