Prodigy/pipeline/Load Prodigy Projects Incremental.json
{
	"name": "Load Prodigy Projects Incremental",
	"properties": {
		"activities": [
			{
				"name": "Load Agencies",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Lookup_Agencies_MaxDate",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "PostgreSqlSource",
						"query": {
							"value": "SELECT \nid, \"name\", \nslug, \ncreated_at - interval '8 hour'  as created_at, \nupdated_at - interval '8 hour'  as updated_at ,\ndeleted_at - interval '8 hour'  as deleted_at \nfrom public.\"Agencies\"  \nWHERE created_at - interval '8 hour 2 second'>  (@{activity('Lookup_Agencies_MaxDate').output.firstRow.max_created_at}) \nOR updated_at - interval '8 hour 2 second'> (@{activity('Lookup_Agencies_MaxDate').output.firstRow.max_updated_at})",
							"type": "Expression"
						}
					},
					"sink": {
						"type": "AzureSqlSink"
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "id",
									"type": "Int32"
								},
								"sink": {
									"name": "id",
									"type": "Int32"
								}
							},
							{
								"source": {
									"name": "name",
									"type": "String"
								},
								"sink": {
									"name": "name",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "slug",
									"type": "String"
								},
								"sink": {
									"name": "slug",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "created_at",
									"type": "String"
								},
								"sink": {
									"name": "created_at",
									"type": "DateTime"
								}
							},
							{
								"source": {
									"name": "updated_at",
									"type": "String"
								},
								"sink": {
									"name": "updated_at",
									"type": "DateTime"
								}
							},
							{
								"source": {
									"name": "deleted_at",
									"type": "String"
								},
								"sink": {
									"name": "deleted_at",
									"type": "DateTime"
								}
							}
						]
					}
				},
				"inputs": [
					{
						"referenceName": "Source_Prodigy",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "Sink_Agencies",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Lookup_Agencies_MaxDate",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Truncate Staging Tables",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "SELECT \nCASE WHEN max_created_at IS NOT NULL THEN CONCAT('''',CONVERT(varchar(50), max_created_at),'''')\nELSE '''1990-01-01''' END as max_created_at,\nCASE WHEN max_updated_at IS NOT NULL THEN CONCAT('''',CONVERT(varchar(50), max_updated_at),'''')\nELSE '''1990-01-01''' END as max_updated_at\n FROM(SELECT MAX(FORMAT(created_at,'yyyy-MM-dd HH:mm:ss')) as max_created_at,  \n\t\t\t\tMAX(FORMAT(updated_at,'yyyy-MM-dd HH:mm:ss')) as max_updated_at \n\t\tFROM dbo.\"Agencies\") a\n",
						"queryTimeout": "02:00:00"
					},
					"dataset": {
						"referenceName": "Sink_Agencies",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Lookup_Bid_Items_MaxDate",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Truncate Staging Tables",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "SELECT \nCASE WHEN max_created_at IS NOT NULL THEN CONCAT('''',CONVERT(varchar(50), max_created_at),'''')\nELSE '''1990-01-01''' END as max_created_at,\nCASE WHEN max_updated_at IS NOT NULL THEN CONCAT('''',CONVERT(varchar(50), max_updated_at),'''')\nELSE '''1990-01-01''' END as max_updated_at\n FROM(SELECT MAX(FORMAT(created_at,'yyyy-MM-dd HH:mm:ss')) as max_created_at,  \n\t\t\t\tMAX(FORMAT(updated_at,'yyyy-MM-dd HH:mm:ss')) as max_updated_at \n\t\tFROM dbo.\"Bid_Items\") a",
						"queryTimeout": "02:00:00"
					},
					"dataset": {
						"referenceName": "Sink_Bid_Items",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Load BidItems",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Lookup_Bid_Items_MaxDate",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "PostgreSqlSource",
						"query": {
							"value": "SELECT id, \nservice_unit, \nservice_qty, \nservice_rate, \nservice_cost, \nbid_id, \nservice_item_id, \noriginal_service_qty, \noriginal_service_rate, \noriginal_service_cost, \noriginal_service_category, \noriginal_service, \noriginal_service_unit,\nclient_id,\nbrand_id,\ncreated_at - interval '8 hour'  as created_at, \nupdated_at - interval '8 hour'  as updated_at,\ndeleted_at - interval '8 hour'  as deleted_at \nfrom public.\"Bid_Items\" \nWHERE created_at - interval '8 hour 2 second'>  (@{activity('Lookup_Bid_Items_MaxDate').output.firstRow.max_created_at})\nOR updated_at - interval '8 hour 2 second'> (@{activity('Lookup_Bid_Items_MaxDate').output.firstRow.max_updated_at})",
							"type": "Expression"
						}
					},
					"sink": {
						"type": "AzureSqlSink"
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "id",
									"type": "Int32"
								},
								"sink": {
									"name": "id",
									"type": "Int32"
								}
							},
							{
								"source": {
									"name": "service_unit",
									"type": "String"
								},
								"sink": {
									"name": "service_unit",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "service_qty",
									"type": "Single"
								},
								"sink": {
									"name": "service_qty",
									"type": "Double"
								}
							},
							{
								"source": {
									"name": "service_rate",
									"type": "Single"
								},
								"sink": {
									"name": "service_rate",
									"type": "Double"
								}
							},
							{
								"source": {
									"name": "service_cost",
									"type": "Double"
								},
								"sink": {
									"name": "service_cost",
									"type": "Double"
								}
							},
							{
								"source": {
									"name": "bid_id",
									"type": "Int32"
								},
								"sink": {
									"name": "bid_id",
									"type": "Int32"
								}
							},
							{
								"source": {
									"name": "service_item_id",
									"type": "Int32"
								},
								"sink": {
									"name": "service_item_id",
									"type": "Int32"
								}
							},
							{
								"source": {
									"name": "created_at",
									"type": "String"
								},
								"sink": {
									"name": "created_at",
									"type": "DateTime"
								}
							},
							{
								"source": {
									"name": "updated_at",
									"type": "String"
								},
								"sink": {
									"name": "updated_at",
									"type": "DateTime"
								}
							},
							{
								"source": {
									"name": "original_service_qty",
									"type": "String"
								},
								"sink": {
									"name": "original_service_qty",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "original_service_rate",
									"type": "String"
								},
								"sink": {
									"name": "original_service_rate",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "original_service_cost",
									"type": "String"
								},
								"sink": {
									"name": "original_service_cost",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "original_service_category",
									"type": "String"
								},
								"sink": {
									"name": "original_service_category",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "original_service",
									"type": "String"
								},
								"sink": {
									"name": "original_service",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "original_service_unit",
									"type": "String"
								},
								"sink": {
									"name": "original_service_unit",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "client_id",
									"type": "Int32"
								},
								"sink": {
									"name": "client_id",
									"type": "Int32"
								}
							},
							{
								"source": {
									"name": "brand_id",
									"type": "Int32"
								},
								"sink": {
									"name": "brand_id",
									"type": "Int32"
								}
							},
							{
								"source": {
									"name": "deleted_at",
									"type": "String"
								},
								"sink": {
									"name": "deleted_at",
									"type": "DateTime"
								}
							}
						]
					}
				},
				"inputs": [
					{
						"referenceName": "Source_Prodigy",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "Sink_Bid_Items",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Merge_Staging_To_Final",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Load Agencies",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Load BidItems",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[sp_merge_staging_to_final]"
				},
				"linkedServiceName": {
					"referenceName": "Prodigy_DW",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Calc_CostSavings",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Merge_Staging_To_Final",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[sp_calc_cost_savings]"
				},
				"linkedServiceName": {
					"referenceName": "Prodigy_DW",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Truncate Staging Tables",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Log Load Reults",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[sp_truncate_staging]"
				},
				"linkedServiceName": {
					"referenceName": "Prodigy_DW",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Log Load Reults",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[sp_log_loadresults_logs]"
				},
				"linkedServiceName": {
					"referenceName": "Prodigy_DW",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Update Load Results",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Calc_CostSavings",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[sp_update_loadresults_logs]"
				},
				"linkedServiceName": {
					"referenceName": "Prodigy_DW",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Lookup_User_Tenant_Roles_MaxDate",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Truncate Staging Tables",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "SELECT \nCASE WHEN max_created_at IS NOT NULL THEN CONCAT('''',CONVERT(varchar(50), max_created_at),'''')\nELSE '''1990-01-01''' END as max_created_at,\nCASE WHEN max_updated_at IS NOT NULL THEN CONCAT('''',CONVERT(varchar(50), max_updated_at),'''')\nELSE '''1990-01-01''' END as max_updated_at\n FROM(SELECT MAX(FORMAT(created_at,'yyyy-MM-dd HH:mm:ss')) as max_created_at,  \n\t\t\t\tMAX(FORMAT(updated_at,'yyyy-MM-dd HH:mm:ss')) as max_updated_at \n\t\tFROM dbo.\"User_Tenant_Roles\") a",
						"queryTimeout": "02:00:00"
					},
					"dataset": {
						"referenceName": "Sink_Clients",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Lookup_Tenants_MaxDate",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Truncate Staging Tables",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "SELECT \nCASE WHEN max_created_at IS NOT NULL THEN CONCAT('''',CONVERT(varchar(50), max_created_at),'''')\nELSE '''1990-01-01''' END as max_created_at,\nCASE WHEN max_updated_at IS NOT NULL THEN CONCAT('''',CONVERT(varchar(50), max_updated_at),'''')\nELSE '''1990-01-01''' END as max_updated_at\n FROM(SELECT MAX(FORMAT(created_at,'yyyy-MM-dd HH:mm:ss')) as max_created_at,  \n\t\t\t\tMAX(FORMAT(updated_at,'yyyy-MM-dd HH:mm:ss')) as max_updated_at \n\t\tFROM dbo.\"Tenants\") a",
						"queryTimeout": "02:00:00"
					},
					"dataset": {
						"referenceName": "Sink_Clients",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Lookup_Users_MaxDate",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Truncate Staging Tables",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "SELECT \nCASE WHEN max_created_at IS NOT NULL THEN CONCAT('''',CONVERT(varchar(50), max_created_at),'''')\nELSE '''1990-01-01''' END as max_created_at,\nCASE WHEN max_updated_at IS NOT NULL THEN CONCAT('''',CONVERT(varchar(50), max_updated_at),'''')\nELSE '''1990-01-01''' END as max_updated_at\n FROM(SELECT MAX(FORMAT(created_at,'yyyy-MM-dd HH:mm:ss')) as max_created_at,  \n\t\t\t\tMAX(FORMAT(updated_at,'yyyy-MM-dd HH:mm:ss')) as max_updated_at \n\t\tFROM dbo.\"Users\") a",
						"queryTimeout": "02:00:00"
					},
					"dataset": {
						"referenceName": "Sink_Clients",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Lookup_Project_Cost_Entry_Items_MaxDate",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Truncate Staging Tables",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "SELECT \nCASE WHEN max_created_at IS NOT NULL THEN CONCAT('''',CONVERT(varchar(50), max_created_at),'''')\nELSE '''1990-01-01''' END as max_created_at,\nCASE WHEN max_updated_at IS NOT NULL THEN CONCAT('''',CONVERT(varchar(50), max_updated_at),'''')\nELSE '''1990-01-01''' END as max_updated_at\n FROM(SELECT MAX(FORMAT(created_at,'yyyy-MM-dd HH:mm:ss')) as max_created_at,  \n\t\t\t\tMAX(FORMAT(updated_at,'yyyy-MM-dd HH:mm:ss')) as max_updated_at \n\t\tFROM dbo.\"Project_Cost_Entry_Items\") a",
						"queryTimeout": "02:00:00"
					},
					"dataset": {
						"referenceName": "Sink_Clients",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Lookup_Project_Cost_Entries_MaxDate",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Truncate Staging Tables",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "SELECT \nCASE WHEN max_created_at IS NOT NULL THEN CONCAT('''',CONVERT(varchar(50), max_created_at),'''')\nELSE '''1990-01-01''' END as max_created_at,\nCASE WHEN max_updated_at IS NOT NULL THEN CONCAT('''',CONVERT(varchar(50), max_updated_at),'''')\nELSE '''1990-01-01''' END as max_updated_at\n FROM(SELECT MAX(FORMAT(created_at,'yyyy-MM-dd HH:mm:ss')) as max_created_at,  \n\t\t\t\tMAX(FORMAT(updated_at,'yyyy-MM-dd HH:mm:ss')) as max_updated_at \n\t\tFROM dbo.\"Project_Cost_Entries\") a",
						"queryTimeout": "02:00:00"
					},
					"dataset": {
						"referenceName": "Sink_Clients",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Lookup_Project_Costs_MaxDate",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Truncate Staging Tables",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "SELECT \nCASE WHEN max_created_at IS NOT NULL THEN CONCAT('''',CONVERT(varchar(50), max_created_at),'''')\nELSE '''1990-01-01''' END as max_created_at,\nCASE WHEN max_updated_at IS NOT NULL THEN CONCAT('''',CONVERT(varchar(50), max_updated_at),'''')\nELSE '''1990-01-01''' END as max_updated_at\n FROM(SELECT MAX(FORMAT(created_at,'yyyy-MM-dd HH:mm:ss')) as max_created_at,  \n\t\t\t\tMAX(FORMAT(updated_at,'yyyy-MM-dd HH:mm:ss')) as max_updated_at \n\t\tFROM dbo.\"Project_Costs\") a",
						"queryTimeout": "02:00:00"
					},
					"dataset": {
						"referenceName": "Sink_Clients",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Lookup_Project_Cost_Types_MaxDate",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Truncate Staging Tables",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "SELECT \nCASE WHEN max_created_at IS NOT NULL THEN CONCAT('''',CONVERT(varchar(50), max_created_at),'''')\nELSE '''1990-01-01''' END as max_created_at,\nCASE WHEN max_updated_at IS NOT NULL THEN CONCAT('''',CONVERT(varchar(50), max_updated_at),'''')\nELSE '''1990-01-01''' END as max_updated_at\n FROM(SELECT MAX(FORMAT(created_at,'yyyy-MM-dd HH:mm:ss')) as max_created_at,  \n\t\t\t\tMAX(FORMAT(updated_at,'yyyy-MM-dd HH:mm:ss')) as max_updated_at \n\t\tFROM dbo.\"Project_Cost_Types\") a",
						"queryTimeout": "02:00:00"
					},
					"dataset": {
						"referenceName": "Sink_Clients",
						"type": "DatasetReference"
					}
				}
			}
		],
		"annotations": []
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}