Prodigy/pipeline/Load Prodigy Incremental_copy1.json
{
	"name": "Load Prodigy Incremental_copy1",
	"properties": {
		"activities": [
			{
				"name": "Load Agencies",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Lookup_Agencies_MaxDate",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "PostgreSqlSource",
						"query": {
							"value": "SELECT \nid, \"name\", \nslug, \ncreated_at - interval '8 hour'  as created_at, \nupdated_at - interval '8 hour'  as updated_at ,\ndeleted_at - interval '8 hour'  as deleted_at \nfrom public.\"Agencies\"  \nWHERE created_at - interval '8 hour 2 second'>  (@{activity('Lookup_Agencies_MaxDate').output.firstRow.max_created_at}) \nOR updated_at - interval '8 hour 2 second'> (@{activity('Lookup_Agencies_MaxDate').output.firstRow.max_updated_at})",
							"type": "Expression"
						}
					},
					"sink": {
						"type": "AzureSqlSink"
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "id",
									"type": "Int32"
								},
								"sink": {
									"name": "id",
									"type": "Int32"
								}
							},
							{
								"source": {
									"name": "name",
									"type": "String"
								},
								"sink": {
									"name": "name",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "slug",
									"type": "String"
								},
								"sink": {
									"name": "slug",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "created_at",
									"type": "String"
								},
								"sink": {
									"name": "created_at",
									"type": "DateTime"
								}
							},
							{
								"source": {
									"name": "updated_at",
									"type": "String"
								},
								"sink": {
									"name": "updated_at",
									"type": "DateTime"
								}
							},
							{
								"source": {
									"name": "deleted_at",
									"type": "String"
								},
								"sink": {
									"name": "deleted_at"
								}
							}
						]
					}
				},
				"inputs": [
					{
						"referenceName": "Source_Prodigy",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "Sink_Agencies",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Lookup_Agencies_MaxDate",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Truncate Staging Tables",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "SELECT \nCASE WHEN max_created_at IS NOT NULL THEN CONCAT('''',CONVERT(varchar(50), max_created_at),'''')\nELSE '''1990-01-01''' END as max_created_at,\nCASE WHEN max_updated_at IS NOT NULL THEN CONCAT('''',CONVERT(varchar(50), max_updated_at),'''')\nELSE '''1990-01-01''' END as max_updated_at\n FROM(SELECT MAX(FORMAT(created_at,'yyyy-MM-dd HH:mm:ss')) as max_created_at,  \n\t\t\t\tMAX(FORMAT(updated_at,'yyyy-MM-dd HH:mm:ss')) as max_updated_at \n\t\tFROM dbo.\"Agencies\" WHERE 1=0) a\n",
						"queryTimeout": "02:00:00"
					},
					"dataset": {
						"referenceName": "Sink_Agencies",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Truncate Staging Tables",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[sp_truncate_staging]"
				},
				"linkedServiceName": {
					"referenceName": "Prodigy_DW",
					"type": "LinkedServiceReference"
				}
			}
		],
		"annotations": []
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}