Prodigy/pipeline/Load Prodigy Projects Ext Incremental.json
{
	"name": "Load Prodigy Projects Ext Incremental",
	"properties": {
		"activities": [
			{
				"name": "Load Project Team Roles",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Lookup_Project_Team_Roles_MaxDate",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "PostgreSqlSource",
						"query": {
							"value": "SELECT id, \n\"role\", \nclient_id,\ncreated_at - interval '8 hour'  as created_at, \nupdated_at - interval '8 hour'  as updated_at ,\ndeleted_at - interval '8 hour'  as deleted_at \nfrom public.\"Project_Team_Roles\"  \nWHERE created_at - interval '8 hour 2 second'>  (@{activity('Lookup_Project_Team_Roles_MaxDate').output.firstRow.max_created_at}) \nOR updated_at - interval '8 hour 2 second'> (@{activity('Lookup_Project_Team_Roles_MaxDate').output.firstRow.max_updated_at})",
							"type": "Expression"
						}
					},
					"sink": {
						"type": "AzureSqlSink"
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "id",
									"type": "Int32"
								},
								"sink": {
									"name": "id",
									"type": "Int32"
								}
							},
							{
								"source": {
									"name": "user_id",
									"type": "Int32"
								},
								"sink": {
									"name": "user_id",
									"type": "Int32"
								}
							},
							{
								"source": {
									"name": "tenant_role_id",
									"type": "Int32"
								},
								"sink": {
									"name": "tenant_role_id",
									"type": "Int32"
								}
							},
							{
								"source": {
									"name": "created_at",
									"type": "String"
								},
								"sink": {
									"name": "created_at",
									"type": "DateTime"
								}
							},
							{
								"source": {
									"name": "updated_at",
									"type": "String"
								},
								"sink": {
									"name": "updated_at",
									"type": "DateTime"
								}
							},
							{
								"source": {
									"name": "deleted_at",
									"type": "String"
								},
								"sink": {
									"name": "deleted_at",
									"type": "DateTime"
								}
							}
						]
					}
				},
				"inputs": [
					{
						"referenceName": "Source_Prodigy",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "Sink_User_Tenant_Roles",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Load Cost Drivers Optimizers",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Lookup_Cost_Drivers_Optimizers_MaxDate",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "PostgreSqlSource",
						"query": {
							"value": "SELECT id, client_id, \"type\", \"name\",\ncreated_at - interval '8 hour'  as created_at, \nupdated_at - interval '8 hour'  as updated_at,\ndeleted_at - interval '8 hour'  as deleted_at \nfrom public.\"Cost_Drivers_Optimizers\" \nWHERE created_at - interval '8 hour 2 second'>  (@{activity('Lookup_Cost_Drivers_Optimizers_MaxDate').output.firstRow.max_created_at})\nOR updated_at - interval '8 hour 2 second'> (@{activity('Lookup_Cost_Drivers_Optimizers_MaxDate').output.firstRow.max_updated_at})",
							"type": "Expression"
						}
					},
					"sink": {
						"type": "AzureSqlSink"
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "id",
									"type": "Int32"
								},
								"sink": {
									"name": "id",
									"type": "Int32"
								}
							},
							{
								"source": {
									"name": "name",
									"type": "String"
								},
								"sink": {
									"name": "name",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "created_at",
									"type": "String"
								},
								"sink": {
									"name": "created_at",
									"type": "DateTime"
								}
							},
							{
								"source": {
									"name": "updated_at",
									"type": "String"
								},
								"sink": {
									"name": "updated_at",
									"type": "DateTime"
								}
							},
							{
								"source": {
									"name": "deleted_at",
									"type": "String"
								},
								"sink": {
									"name": "deleted_at",
									"type": "DateTime"
								}
							}
						]
					}
				},
				"inputs": [
					{
						"referenceName": "Source_Prodigy",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "Sink_Tenants",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Truncate Staging Tables",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[sp_truncate_projects_staging]"
				},
				"linkedServiceName": {
					"referenceName": "Prodigy_DW",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Lookup_Project_Team_Roles_MaxDate",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Truncate Staging Tables",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "SELECT \nCASE WHEN max_created_at IS NOT NULL THEN CONCAT('''',CONVERT(varchar(50), max_created_at),'''')\nELSE '''1990-01-01''' END as max_created_at,\nCASE WHEN max_updated_at IS NOT NULL THEN CONCAT('''',CONVERT(varchar(50), max_updated_at),'''')\nELSE '''1990-01-01''' END as max_updated_at\n FROM(SELECT MAX(FORMAT(created_at,'yyyy-MM-dd HH:mm:ss')) as max_created_at,  \n\t\t\t\tMAX(FORMAT(updated_at,'yyyy-MM-dd HH:mm:ss')) as max_updated_at \n\t\tFROM dbo.\"Project_Team_Roles\") a",
						"queryTimeout": "02:00:00"
					},
					"dataset": {
						"referenceName": "Sink_Clients",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Lookup_Cost_Drivers_Optimizers_MaxDate",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Truncate Staging Tables",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "SELECT \nCASE WHEN max_created_at IS NOT NULL THEN CONCAT('''',CONVERT(varchar(50), max_created_at),'''')\nELSE '''1990-01-01''' END as max_created_at,\nCASE WHEN max_updated_at IS NOT NULL THEN CONCAT('''',CONVERT(varchar(50), max_updated_at),'''')\nELSE '''1990-01-01''' END as max_updated_at\n FROM(SELECT MAX(FORMAT(created_at,'yyyy-MM-dd HH:mm:ss')) as max_created_at,  \n\t\t\t\tMAX(FORMAT(updated_at,'yyyy-MM-dd HH:mm:ss')) as max_updated_at \n\t\tFROM dbo.\"Cost_Drivers_Optimizers\") a",
						"queryTimeout": "02:00:00"
					},
					"dataset": {
						"referenceName": "Sink_Clients",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Lookup_Agency_Producers_MaxDate",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Truncate Staging Tables",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "SELECT \nCASE WHEN max_created_at IS NOT NULL THEN CONCAT('''',CONVERT(varchar(50), max_created_at),'''')\nELSE '''1990-01-01''' END as max_created_at,\nCASE WHEN max_updated_at IS NOT NULL THEN CONCAT('''',CONVERT(varchar(50), max_updated_at),'''')\nELSE '''1990-01-01''' END as max_updated_at\n FROM(SELECT MAX(FORMAT(created_at,'yyyy-MM-dd HH:mm:ss')) as max_created_at,  \n\t\t\t\tMAX(FORMAT(updated_at,'yyyy-MM-dd HH:mm:ss')) as max_updated_at \n\t\tFROM dbo.\"Agency_Producers\") a",
						"queryTimeout": "02:00:00"
					},
					"dataset": {
						"referenceName": "Sink_Clients",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Lookup_Markets_MaxDate",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Truncate Staging Tables",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "SELECT \nCASE WHEN max_created_at IS NOT NULL THEN CONCAT('''',CONVERT(varchar(50), max_created_at),'''')\nELSE '''1990-01-01''' END as max_created_at,\nCASE WHEN max_updated_at IS NOT NULL THEN CONCAT('''',CONVERT(varchar(50), max_updated_at),'''')\nELSE '''1990-01-01''' END as max_updated_at\n FROM(SELECT MAX(FORMAT(created_at,'yyyy-MM-dd HH:mm:ss')) as max_created_at,  \n\t\t\t\tMAX(FORMAT(updated_at,'yyyy-MM-dd HH:mm:ss')) as max_updated_at \n\t\tFROM dbo.\"Project_Cost_Entry_Items\") a",
						"queryTimeout": "02:00:00"
					},
					"dataset": {
						"referenceName": "Sink_Clients",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Lookup_Campaigns_MaxDate",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Truncate Staging Tables",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "SELECT \nCASE WHEN max_created_at IS NOT NULL THEN CONCAT('''',CONVERT(varchar(50), max_created_at),'''')\nELSE '''1990-01-01''' END as max_created_at,\nCASE WHEN max_updated_at IS NOT NULL THEN CONCAT('''',CONVERT(varchar(50), max_updated_at),'''')\nELSE '''1990-01-01''' END as max_updated_at\n FROM(SELECT MAX(FORMAT(created_at,'yyyy-MM-dd HH:mm:ss')) as max_created_at,  \n\t\t\t\tMAX(FORMAT(updated_at,'yyyy-MM-dd HH:mm:ss')) as max_updated_at \n\t\tFROM dbo.\"Campaigns\") a",
						"queryTimeout": "02:00:00"
					},
					"dataset": {
						"referenceName": "Sink_Clients",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Lookup_Bid_Types_MaxDate",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Truncate Staging Tables",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "SELECT \nCASE WHEN max_created_at IS NOT NULL THEN CONCAT('''',CONVERT(varchar(50), max_created_at),'''')\nELSE '''1990-01-01''' END as max_created_at,\nCASE WHEN max_updated_at IS NOT NULL THEN CONCAT('''',CONVERT(varchar(50), max_updated_at),'''')\nELSE '''1990-01-01''' END as max_updated_at\n FROM(SELECT MAX(FORMAT(created_at,'yyyy-MM-dd HH:mm:ss')) as max_created_at,  \n\t\t\t\tMAX(FORMAT(updated_at,'yyyy-MM-dd HH:mm:ss')) as max_updated_at \n\t\tFROM dbo.\"Bid_Types\") a",
						"queryTimeout": "02:00:00"
					},
					"dataset": {
						"referenceName": "Sink_Clients",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Lookup_Project_Types_MaxDate",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Truncate Staging Tables",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "SELECT \nCASE WHEN max_created_at IS NOT NULL THEN CONCAT('''',CONVERT(varchar(50), max_created_at),'''')\nELSE '''1990-01-01''' END as max_created_at,\nCASE WHEN max_updated_at IS NOT NULL THEN CONCAT('''',CONVERT(varchar(50), max_updated_at),'''')\nELSE '''1990-01-01''' END as max_updated_at\n FROM(SELECT MAX(FORMAT(created_at,'yyyy-MM-dd HH:mm:ss')) as max_created_at,  \n\t\t\t\tMAX(FORMAT(updated_at,'yyyy-MM-dd HH:mm:ss')) as max_updated_at \n\t\tFROM dbo.\"Project_Types\") a",
						"queryTimeout": "02:00:00"
					},
					"dataset": {
						"referenceName": "Sink_Clients",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Load Agency Producers",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Lookup_Agency_Producers_MaxDate",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "PostgreSqlSource",
						"query": {
							"value": "SELECT id, \"name\", client_id,\ncreated_at - interval '8 hour'  as created_at, \nupdated_at - interval '8 hour'  as updated_at,\ndeleted_at - interval '8 hour'  as deleted_at \nfrom public.\"Agency_Producers\" \nWHERE created_at - interval '8 hour 2 second'>  (@{activity('Lookup_Agency_Producers_MaxDate').output.firstRow.max_created_at})\nOR updated_at - interval '8 hour 2 second'> (@{activity('Lookup_Agency_Producers_MaxDate').output.firstRow.max_updated_at})",
							"type": "Expression"
						}
					},
					"sink": {
						"type": "AzureSqlSink"
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "id",
									"type": "Int32"
								},
								"sink": {
									"name": "id",
									"type": "Int32"
								}
							},
							{
								"source": {
									"name": "name",
									"type": "String"
								},
								"sink": {
									"name": "name",
									"type": "String"
								}
							},
							{
								"source": {
									"name": ""
								},
								"sink": {
									"name": "email",
									"type": "String"
								}
							},
							{
								"sink": {
									"name": "auth0_id",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "created_at",
									"type": "String"
								},
								"sink": {
									"name": "created_at",
									"type": "DateTime"
								}
							},
							{
								"source": {
									"name": "updated_at",
									"type": "String"
								},
								"sink": {
									"name": "updated_at",
									"type": "DateTime"
								}
							},
							{
								"source": {
									"name": "deleted_at",
									"type": "String"
								},
								"sink": {
									"name": "deleted_at",
									"type": "DateTime"
								}
							}
						]
					}
				},
				"inputs": [
					{
						"referenceName": "Source_Prodigy",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "Sink_Users",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Load Markets",
				"description": "1",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Lookup_Markets_MaxDate",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "PostgreSqlSource",
						"query": {
							"value": "SELECT id, client_id, \"name\", \ncreated_at - interval '8 hour'  as created_at, \nupdated_at - interval '8 hour'  as updated_at,\ndeleted_at - interval '8 hour'  as deleted_at \nfrom public.\"Markets\" \nWHERE created_at - interval '8 hour 2 second'>  (@{activity('Lookup_Markets_MaxDate').output.firstRow.max_created_at})\nOR updated_at - interval '8 hour 2 second'> (@{activity('Lookup_Markets_MaxDate').output.firstRow.max_updated_at})",
							"type": "Expression"
						}
					},
					"sink": {
						"type": "AzureSqlSink"
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "id",
									"type": "Int32"
								},
								"sink": {
									"name": "id",
									"type": "Int32"
								}
							},
							{
								"source": {
									"name": "project_cost_entry_id",
									"type": "Int32"
								},
								"sink": {
									"name": "project_cost_entry_id",
									"type": "Int32"
								}
							},
							{
								"source": {
									"name": "bid_id",
									"type": "Int32"
								},
								"sink": {
									"name": "bid_id",
									"type": "Int32"
								}
							},
							{
								"source": {
									"name": "type",
									"type": "String"
								},
								"sink": {
									"name": "type",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "amount",
									"type": "Double"
								},
								"sink": {
									"name": "amount",
									"type": "Double"
								}
							},
							{
								"source": {
									"name": "notes",
									"type": "String"
								},
								"sink": {
									"name": "notes",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "custom_fields_meta_data",
									"type": "String"
								},
								"sink": {
									"name": "custom_fields_meta_data",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "bid_date",
									"type": "String"
								},
								"sink": {
									"name": "bid_date",
									"type": "DateTime"
								}
							},
							{
								"source": {
									"name": "bid_number",
									"type": "String"
								},
								"sink": {
									"name": "bid_number",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "created_at",
									"type": "String"
								},
								"sink": {
									"name": "created_at",
									"type": "DateTime"
								}
							},
							{
								"source": {
									"name": "updated_at",
									"type": "String"
								},
								"sink": {
									"name": "updated_at",
									"type": "DateTime"
								}
							},
							{
								"source": {
									"name": "deleted_at",
									"type": "String"
								},
								"sink": {
									"name": "deleted_at",
									"type": "DateTime"
								}
							},
							{
								"source": {
									"name": "sequence",
									"type": "Int32"
								},
								"sink": {
									"name": "sequence",
									"type": "Int32"
								}
							},
							{
								"source": {
									"name": "markup_amount",
									"type": "Single"
								},
								"sink": {
									"name": "markup_amount",
									"type": "Double"
								}
							},
							{
								"source": {
									"name": "markup_percentage",
									"type": "Single"
								},
								"sink": {
									"name": "markup_percentage",
									"type": "Double"
								}
							},
							{
								"source": {
									"name": "client_id",
									"type": "Int32"
								},
								"sink": {
									"name": "client_id",
									"type": "Int32"
								}
							},
							{
								"source": {
									"name": "saving_type_id",
									"type": "Int32"
								},
								"sink": {
									"name": "saving_type_id",
									"type": "Int32"
								}
							}
						]
					}
				},
				"inputs": [
					{
						"referenceName": "Source_Prodigy",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "Sink_Project_Cost_Entry_Items",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Load Campaigns",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Lookup_Campaigns_MaxDate",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "PostgreSqlSource",
						"query": {
							"value": "SELECT id, \"name\", client_id,\ncreated_at - interval '8 hour'  as created_at, \nupdated_at - interval '8 hour'  as updated_at,\ndeleted_at - interval '8 hour'  as deleted_at \nfrom public.\"Campaigns\" \nWHERE created_at - interval '8 hour 2 second'>  (@{activity('Lookup_Campaigns_MaxDate').output.firstRow.max_created_at})\nOR updated_at - interval '8 hour 2 second'> (@{activity('Lookup_Campaigns_MaxDate').output.firstRow.max_updated_at})",
							"type": "Expression"
						}
					},
					"sink": {
						"type": "AzureSqlSink"
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "id",
									"type": "Int32"
								},
								"sink": {
									"name": "id",
									"type": "Int32"
								}
							},
							{
								"source": {
									"name": "project_cost_id",
									"type": "Int32"
								},
								"sink": {
									"name": "project_cost_id",
									"type": "Int32"
								}
							},
							{
								"source": {
									"name": "project_cost_type_id",
									"type": "Int32"
								},
								"sink": {
									"name": "project_cost_type_id",
									"type": "Int32"
								}
							},
							{
								"source": {
									"name": "vendor_id",
									"type": "Int32"
								},
								"sink": {
									"name": "vendor_id",
									"type": "Int32"
								}
							},
							{
								"source": {
									"name": "description",
									"type": "String"
								},
								"sink": {
									"name": "description",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "created_at",
									"type": "String"
								},
								"sink": {
									"name": "created_at",
									"type": "DateTime"
								}
							},
							{
								"source": {
									"name": "updated_at",
									"type": "String"
								},
								"sink": {
									"name": "updated_at",
									"type": "DateTime"
								}
							},
							{
								"source": {
									"name": "deleted_at",
									"type": "String"
								},
								"sink": {
									"name": "deleted_at",
									"type": "DateTime"
								}
							},
							{
								"source": {
									"name": "currency_id",
									"type": "Int32"
								},
								"sink": {
									"name": "currency_id",
									"type": "Int32"
								}
							},
							{
								"source": {
									"name": "client_id",
									"type": "Int32"
								},
								"sink": {
									"name": "client_id",
									"type": "Int32"
								}
							}
						]
					}
				},
				"inputs": [
					{
						"referenceName": "Source_Prodigy",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "Sink_Project_Cost_Entries",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Load Bid Types",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Lookup_Bid_Types_MaxDate",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "PostgreSqlSource",
						"query": {
							"value": "SELECT id, bid_type,\ncreated_at - interval '8 hour'  as created_at, \nupdated_at - interval '8 hour'  as updated_at,\ndeleted_at - interval '8 hour'  as deleted_at \nfrom public.\"Bid_Types\" \nWHERE created_at - interval '8 hour 2 second'>  (@{activity('Lookup_Bid_Types_MaxDate').output.firstRow.max_created_at})\nOR updated_at - interval '8 hour 2 second'> (@{activity('Lookup_Bid_Types_MaxDate').output.firstRow.max_updated_at})",
							"type": "Expression"
						}
					},
					"sink": {
						"type": "AzureSqlSink"
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "id",
									"type": "Int32"
								},
								"sink": {
									"name": "id",
									"type": "Int32"
								}
							},
							{
								"source": {
									"name": "project_id",
									"type": "Int32"
								},
								"sink": {
									"name": "project_id",
									"type": "Int32"
								}
							},
							{
								"source": {
									"name": "created_at",
									"type": "String"
								},
								"sink": {
									"name": "created_at",
									"type": "DateTime"
								}
							},
							{
								"source": {
									"name": "updated_at",
									"type": "String"
								},
								"sink": {
									"name": "updated_at",
									"type": "DateTime"
								}
							},
							{
								"source": {
									"name": "deleted_at",
									"type": "String"
								},
								"sink": {
									"name": "deleted_at",
									"type": "DateTime"
								}
							},
							{
								"source": {
									"name": "client_id",
									"type": "Int32"
								},
								"sink": {
									"name": "client_id",
									"type": "Int32"
								}
							}
						]
					}
				},
				"inputs": [
					{
						"referenceName": "Source_Prodigy",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "Sink_Project_Costs",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Load Project Type",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Lookup_Project_Types_MaxDate",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "PostgreSqlSource",
						"query": {
							"value": "SELECT SELECT id, project_type, created_at,\ncreated_at - interval '8 hour'  as created_at, \nupdated_at - interval '8 hour'  as updated_at,\ndeleted_at - interval '8 hour'  as deleted_at \nfrom public.\"Project_Cost_Types\" \nWHERE created_at - interval '8 hour 2 second'>  (@{activity('Lookup_Project_Types_MaxDate').output.firstRow.max_created_at})\nOR updated_at - interval '8 hour 2 second'> (@{activity('Lookup_Project_Types_MaxDate').output.firstRow.max_updated_at})",
							"type": "Expression"
						}
					},
					"sink": {
						"type": "AzureSqlSink"
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "id",
									"type": "Int32"
								},
								"sink": {
									"name": "id",
									"type": "Int32"
								}
							},
							{
								"source": {
									"name": "name",
									"type": "String"
								},
								"sink": {
									"name": "name",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "description",
									"type": "String"
								},
								"sink": {
									"name": "description",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "custom_fields_meta_data",
									"type": "String"
								},
								"sink": {
									"name": "custom_fields_meta_data",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "created_at",
									"type": "String"
								},
								"sink": {
									"name": "created_at",
									"type": "DateTime"
								}
							},
							{
								"source": {
									"name": "updated_at",
									"type": "String"
								},
								"sink": {
									"name": "updated_at",
									"type": "DateTime"
								}
							},
							{
								"source": {
									"name": "deleted_at",
									"type": "String"
								},
								"sink": {
									"name": "deleted_at",
									"type": "DateTime"
								}
							}
						]
					}
				},
				"inputs": [
					{
						"referenceName": "Source_Prodigy",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "Sink_Project_Cost_Type",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Lookup_Savings_Type_MaxDate",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Truncate Staging Tables",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "SELECT \nCASE WHEN max_created_at IS NOT NULL THEN CONCAT('''',CONVERT(varchar(50), max_created_at),'''')\nELSE '''1990-01-01''' END as max_created_at,\nCASE WHEN max_updated_at IS NOT NULL THEN CONCAT('''',CONVERT(varchar(50), max_updated_at),'''')\nELSE '''1990-01-01''' END as max_updated_at\n FROM(SELECT MAX(FORMAT(created_at,'yyyy-MM-dd HH:mm:ss')) as max_created_at,  \n\t\t\t\tMAX(FORMAT(updated_at,'yyyy-MM-dd HH:mm:ss')) as max_updated_at \n\t\tFROM dbo.\"Tenant_Roles\") a",
						"queryTimeout": "02:00:00"
					},
					"dataset": {
						"referenceName": "Sink_Clients",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Load Saving Types",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Lookup_Savings_Type_MaxDate",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "PostgreSqlSource",
						"query": {
							"value": "SELECT \nid, client_id, \"name\"\ncreated_at - interval '8 hour'  as created_at, \nupdated_at - interval '8 hour'  as updated_at ,\ndeleted_at - interval '8 hour'  as deleted_at \nfrom public.\"[Saving_Types]\"  \nWHERE created_at - interval '8 hour 2 second'>  (@{activity('Lookup_Saving_Types_MaxDate').output.firstRow.max_created_at}) \nOR updated_at - interval '8 hour 2 second'> (@{activity('Lookup_Saving_Types_MaxDate').output.firstRow.max_updated_at})",
							"type": "Expression"
						}
					},
					"sink": {
						"type": "AzureSqlSink"
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "id",
									"type": "Int32"
								},
								"sink": {
									"name": "id",
									"type": "Int32"
								}
							},
							{
								"source": {
									"name": "tenant_id",
									"type": "Int32"
								},
								"sink": {
									"name": "tenant_id",
									"type": "Int32"
								}
							},
							{
								"source": {
									"name": "role_id",
									"type": "Int32"
								},
								"sink": {
									"name": "role_id",
									"type": "Int32"
								}
							},
							{
								"source": {
									"name": "auth0_id",
									"type": "String"
								},
								"sink": {
									"name": "auth0_id",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "created_at",
									"type": "String"
								},
								"sink": {
									"name": "created_at",
									"type": "DateTime"
								}
							},
							{
								"source": {
									"name": "updated_at",
									"type": "String"
								},
								"sink": {
									"name": "updated_at",
									"type": "DateTime"
								}
							},
							{
								"source": {
									"name": "deleted_at",
									"type": "String"
								},
								"sink": {
									"name": "deleted_at",
									"type": "DateTime"
								}
							}
						]
					}
				},
				"inputs": [
					{
						"referenceName": "Source_Prodigy",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "Sink_Tenant_Roles",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Lookup_Cities_MaxDate",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Truncate Staging Tables",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "SELECT \nCASE WHEN max_created_at IS NOT NULL THEN CONCAT('''',CONVERT(varchar(50), max_created_at),'''')\nELSE '''1990-01-01''' END as max_created_at,\nCASE WHEN max_updated_at IS NOT NULL THEN CONCAT('''',CONVERT(varchar(50), max_updated_at),'''')\nELSE '''1990-01-01''' END as max_updated_at\n FROM(SELECT MAX(FORMAT(created_at,'yyyy-MM-dd HH:mm:ss')) as max_created_at,  \n\t\t\t\tMAX(FORMAT(updated_at,'yyyy-MM-dd HH:mm:ss')) as max_updated_at \n\t\tFROM dbo.\"Roles\") a",
						"queryTimeout": "02:00:00"
					},
					"dataset": {
						"referenceName": "Sink_Clients",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Load Cities",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Lookup_Cities_MaxDate",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "PostgreSqlSource",
						"query": {
							"value": "SELECT id, \"name\",\ncreated_at - interval '8 hour'  as created_at, \nupdated_at - interval '8 hour'  as updated_at ,\ndeleted_at - interval '8 hour'  as deleted_at \nfrom public.\"Roles\"  \nWHERE created_at - interval '8 hour 2 second'>  (@{activity('Lookup_Cities_MaxDate').output.firstRow.max_created_at}) \nOR updated_at - interval '8 hour 2 second'> (@{activity('Lookup_Cities_MaxDate').output.firstRow.max_updated_at})",
							"type": "Expression"
						}
					},
					"sink": {
						"type": "AzureSqlSink"
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "id",
									"type": "Int32"
								},
								"sink": {
									"name": "id",
									"type": "Int32"
								}
							},
							{
								"source": {
									"name": "name",
									"type": "String"
								},
								"sink": {
									"name": "name",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "auth0_template_id",
									"type": "String"
								},
								"sink": {
									"name": "auth0_template_id",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "created_at",
									"type": "String"
								},
								"sink": {
									"name": "created_at",
									"type": "DateTime"
								}
							},
							{
								"source": {
									"name": "updated_at",
									"type": "String"
								},
								"sink": {
									"name": "updated_at",
									"type": "DateTime"
								}
							},
							{
								"source": {
									"name": "deleted_at",
									"type": "String"
								},
								"sink": {
									"name": "deleted_at",
									"type": "DateTime"
								}
							}
						]
					}
				},
				"inputs": [
					{
						"referenceName": "Source_Prodigy",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "Sink_Roles",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Merge_Project_Staging_To_Final",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Load Project Team Roles",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Load Cost Drivers Optimizers",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Load Agency Producers",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Load Markets",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Load Campaigns",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Load Bid Types",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Load Project Type",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Load Saving Types",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Load Cities",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Load Lookup_Shoot_Types",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[sp_merge_projects_staging_to_final]"
				},
				"linkedServiceName": {
					"referenceName": "Prodigy_DW",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Lookup_Shoot_Types_MaxDate",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Truncate Staging Tables",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "SELECT \nCASE WHEN max_created_at IS NOT NULL THEN CONCAT('''',CONVERT(varchar(50), max_created_at),'''')\nELSE '''1990-01-01''' END as max_created_at,\nCASE WHEN max_updated_at IS NOT NULL THEN CONCAT('''',CONVERT(varchar(50), max_updated_at),'''')\nELSE '''1990-01-01''' END as max_updated_at\n FROM(SELECT MAX(FORMAT(created_at,'yyyy-MM-dd HH:mm:ss')) as max_created_at,  \n\t\t\t\tMAX(FORMAT(updated_at,'yyyy-MM-dd HH:mm:ss')) as max_updated_at \n\t\tFROM dbo.\"Roles\") a",
						"queryTimeout": "02:00:00"
					},
					"dataset": {
						"referenceName": "Sink_Clients",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Load Lookup_Shoot_Types",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Lookup_Shoot_Types_MaxDate",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "PostgreSqlSource",
						"query": {
							"value": "SELECT id, \"name\", \ncreated_at - interval '8 hour'  as created_at, \nupdated_at - interval '8 hour'  as updated_at ,\ndeleted_at - interval '8 hour'  as deleted_at \nfrom public.\"Shoot_Types\"  \nWHERE created_at - interval '8 hour 2 second'>  (@{activity('Lookup_Shoot_Types_MaxDate').output.firstRow.max_created_at}) \nOR updated_at - interval '8 hour 2 second'> (@{activity('Lookup_Shoot_Types_MaxDate').output.firstRow.max_updated_at})",
							"type": "Expression"
						}
					},
					"sink": {
						"type": "AzureSqlSink"
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "id",
									"type": "Int32"
								},
								"sink": {
									"name": "id",
									"type": "Int32"
								}
							},
							{
								"source": {
									"name": "name",
									"type": "String"
								},
								"sink": {
									"name": "name",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "auth0_template_id",
									"type": "String"
								},
								"sink": {
									"name": "auth0_template_id",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "created_at",
									"type": "String"
								},
								"sink": {
									"name": "created_at",
									"type": "DateTime"
								}
							},
							{
								"source": {
									"name": "updated_at",
									"type": "String"
								},
								"sink": {
									"name": "updated_at",
									"type": "DateTime"
								}
							},
							{
								"source": {
									"name": "deleted_at",
									"type": "String"
								},
								"sink": {
									"name": "deleted_at",
									"type": "DateTime"
								}
							}
						]
					}
				},
				"inputs": [
					{
						"referenceName": "Source_Prodigy",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "Sink_Roles",
						"type": "DatasetReference"
					}
				]
			}
		],
		"annotations": []
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}